{block content}

<div class="container">
    <h1 n:block="title">{$siteTitle}</h1>
    
    {position userPasswordForgotTop}
	
	<p class="lead">{_'Please enter your login email.'}</p>
	
	{control passwordForgotForm}
    
    {position userPasswordForgotBottom}
</div>