{block content}

<div class="container">
    <h1 n:block="title">{$siteTitle}</h1>
    
    {position userPasswordNewTop}
	
	{control passwordNewForm}
    
    {position userPasswordNewBottom}
</div>	