<div class="form-group">
	<label n:name="password">{label password/}</label>
	<input class="form-control" n:name="password">
</div>
    
<div class="form-group">
	<label n:name="password_repeat">{label password_repeat/}</label>
	<input class="form-control" n:name="password_repeat">
</div>