{block content}

<div class="container">
    <h1 n:block="title">{$siteTitle}</h1>

    <ul>
        <li><a n:href=":User:Settings:Account">{_'Account settings'}</a></li>
        <li><a n:href=":User:Password:Change">{_'Change Password'}</a></li>
    </ul>
</div>