{var $licenceTerms = $container['licence_terms']}
<div class="form-group">
    <div class="checkbox">
        <label n:name="$licenceTerms">
            <input class="filled-in" n:name="$licenceTerms">
            {_'Licence terms'}
        </label>
    </div>
</div>