{block content}
	
	<div class="container">
		<h1 class="page-heading">{$siteTitle}</h1>
		
		{position beforeContent}
	
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">	

				{control signUpForm}

			</div>	
		</div>
				
		{position afterContent}
	
	</div>