<ul class="collection with-header z-depth-3">
    <li class="collection-header">
        <div class="row">
            <div class="col-xs-6 valign-wrapper">
                <span class="text-headline valign">{_'Companies'}</span>
            </div>
            
            <div class="col-xs-6 text-right">
                <a class="btn btn-link ajax-modal" href="{plink :Admin:Company:addToUser}">
                    <i class="material-icons">add_circle_outline</i>
                    {_'Add company'}
                </a>
            </div>
        </div>
    </li>
    
    <li n:foreach="$companyList as $company" class="collection-item">
        <div class="row">
            <div class="col-sm-8">
                {control company, $company}
            </div>
            
            <div class="col-sm-4 valign-wrapper">
                <div class="valign margin-left-auto">
                    <a class="btn btn-icon btn-hover-warning ajax-modal ajax-modal-fixed tooltipped" href="{plink :Admin:Company:edit, 'id' => $company->getId()}" data-position="left" data-tooltip="{_'Edit company'}">
                        <i class="material-icons">edit</i>
                    </a>
                    <a class="btn btn-icon btn-hover-danger ajax-modal tooltipped" href="{plink :Admin:Company:delete, 'id' => $company->getId()}" data-position="left" data-tooltip="{_'Delete company'}">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
        </div>
    </li>
</ul>