<ul class="collection with-header z-depth-3">
    <li class="collection-header">
        <div class="row">
            <div class="col-xs-8 valign-wrapper">
                <h4 class="text-headline valign">{_'User info'}</h4>
            </div>
            
            <div class="col-xs-4 text-right">
                <a class="btn btn-icon tooltipped" href="{plink User:edit}" data-position="left" data-tooltip="{_'Edit user'}">
                    <i class="material-icons">edit</i>
                </a>
            </div>
        </div>
    </li>
    
    <li class="collection-item">
        <div>
            {_'Email'}
            <span class="secondary-content">
                {$entity->getEmail()}
            </span>
        </div>
    </li>
    
    <li class="collection-item">
        <div>
            {_'Nick'}
            <span class="secondary-content">
                {$entity->getNick()}
            </span>
        </div>
    </li>
    
    <li class="collection-item">
        <div>
            {_'Name'}
            <span class="secondary-content">
                {$entity->getFullName()}
            </span>
        </div>
    </li>
</ul>
        