<div class="card white z-depth-3 with-header">
    <div class="card-header">
        <div class="row">
            <div class="col-xs-8 valign-wrapper">
                <h2 class="title valign">{_'User info'}</h2>
            </div>
            
            <div class="col-xs-4 text-right">
                <a class="btn btn-icon tooltipped" href="{plink User:edit}" data-position="left" data-tooltip="{_'Edit user'}">
                    <i class="material-icons">edit</i>
                </a>
            </div>
        </div>
    </div>
    
    <div class="card-content">
        {dump $columns}
    </div>
    
</div>
        