<div class="form-group">
	<label n:name="ico">{label ico/}</label>
	<input class="form-control" n:name="ico">
</div>
	
<div class="form-group">
	<label n:name="dic">{label dic/}</label>
	<input class="form-control" n:name="dic">
</div>
	
<div class="form-group">
	<label n:name="icDph">{label icDph/}</label>
	<input class="form-control" n:name="icDph">
</div>