<div class="lead">{_'Contact details'}</div>

<div class="form-group">
	<label n:name="first_name">{label first_name/}</label>
	<input class="form-control" n:name="first_name">
</div>

<div class="form-group">
	<label n:name="last_name">{label last_name/}</label>
	<input class="form-control" n:name="last_name">
</div>