services:
	authenticator: Wame\UserModule\Models\Authenticator

	# Models
	- Wame\UserModule\Models\UserManager

	# Entities
	- Wame\UserModule\Entities\CompanyEntity
	- Wame\UserModule\Entities\UserEntity
	- Wame\UserModule\Entities\UserInfoEntity

	# Repositories
	- Wame\UserModule\Repositories\CompanyRepository
	- Wame\UserModule\Repositories\UserRepository

	# Forms
	- Wame\UserModule\Forms\SignInForm

	# Events
	- {class: Wame\UserModule\Events\SignInListener, tags: [run]}


doctrine:
	metadata:
		Wame\UserModule\Entities: %appDir%/../vendor/wame/UserModule/entities
		Wame\UserModule\Repositories: %appDir%/../vendor/wame/UserModule/repositories