services:
    PermissionObject:
        setup:
            - addResource('company')
            - addResourceAction('company', 'view')
            - allow('guest', 'company', 'view')
            - addResourceAction('company', 'create')
            - allow('client', 'company', 'create')
            - addResourceAction('company', 'edit')
            - allow('client', 'company', 'edit')
            - addResourceAction('company', 'delete')
            - allow('client', 'company', 'delete')


    # Repositories
    CompanyRepository:
        class: Wame\UserModule\Repositories\CompanyRepository
        inject: yes

    UserInCompanyRepository:
        class: Wame\UserModule\Repositories\UserInCompanyRepository
        inject: yes


    # Components
    - Wame\UserModule\Components\ICompanyControlFactory
    - Wame\UserModule\Components\ICompanyListControlFactory


    # Events
#    - {class: Wame\UserModule\Events\SignUp\CompanyListener, tags: [run]}


    # Forms
    CompanyForm:
        class: Wame\UserModule\Forms\CompanyForm
        setup:
            - addFormContainer(Wame\UserModule\Forms\Company\NameFormContainer(), 'NameFormContainer', 99)
            - addFormContainer(Wame\UserModule\Forms\Company\DescriptionFormContainer(), 'DescriptionFormContainer', 98)
            - addFormContainer(Wame\UserModule\Forms\Company\BillingDataFormContainer(), 'BillingDataFormContainer', 80)