services:
    # Form containers
    - Wame\UserModule\Forms\Containers\IPasswordContainerFactory
    - Wame\UserModule\Forms\Containers\IPasswordRepeatContainerFactory
    - Wame\UserModule\Forms\Containers\IRememberContainerFactory


    # Forms
    PasswordForgotFormBuilder:
        class: Wame\UserModule\Forms\PasswordForgotFormBuilder
        setup:
            - add(@Wame\UserModule\Forms\Containers\IEmailContainerFactory, 'EmailContainer', {priority: 95})
            - add(@Wame\DynamicObject\Forms\Containers\ISubmitContainerFactory, 'SubmitContainer')

    PasswordNewFormBuilder:
        class: Wame\UserModule\Forms\PasswordNewFormBuilder
        setup:
            - add(@Wame\DynamicObject\Forms\Groups\IEmptyGroupFactory, 'PasswordGroup', {priority: 100})
            - add(@Wame\UserModule\Forms\Containers\IPasswordContainerFactory, 'PasswordContainer', {priority: 94})
            - add(@Wame\UserModule\Forms\Containers\IPasswordRepeatContainerFactory, 'PasswordRepeatContainer', {priority: 93})
            - add(@Wame\DynamicObject\Forms\Containers\ISubmitContainerFactory, 'SubmitContainer')
