services:
    user: Wame\Security\User
    authenticator: Wame\UserModule\Models\Authenticator
#    - {class: Wame\UserModule\Models\UserEntityExtensionMethod, tags: [run]}


    # Repositories
    UserRepository:
        class: Wame\UserModule\Repositories\UserRepository
        inject: yes


    # Components
    - Wame\UserModule\Components\IUserControlFactory
    - Wame\UserModule\Components\IUserListControlFactory
    - Wame\UserModule\Components\IUserEmptyListControlFactory
    - Wame\UserModule\Components\IUserSettingsButtonControlFactory


    # User sing in listener - user redirects
    - {class: Wame\UserModule\Events\SignInListener, tags: [run]}



extensions:
    doctrine2identity: Majkl578\NetteAddons\Doctrine2Identity\DI\IdentityExtension



doctrine:
    metadata:
        Wame\UserModule\Entities: %appDir%/../vendor/wame/UserModule/entities