{block title}
	{$siteTitle}
{/block}

{block content}

<main class="container">
    <h1>
        {$siteTitle}

        <small>{$userEntity->nick}</small>
    </h1>

    {position userProfileTop}

    {position userProfileContent}
</main>