<div>
    <strong>{$company->getName()}</strong>
</div>

{control address}

<span n:if="$company->getIco()">{_'IČO'}: {$company->getIco()}</span>
<span n:if="$company->getDic()">{_'DIČ'}: {$company->getDic()}</span>
<span n:if="$company->getIcDph()">{_'IČ DPH'}: {$company->getIcDph()}</span>