{var $remember = $container['remember']}
<div class="form-group">
    <div class="checkbox">
        <label n:name="$remember">
            <input class="filled-in" n:name="$remember">
            {_'Remember'}
        </label>
    </div>
</div>