{var $gender = $container['gender']}
<div class="form-group">
    <div class="radio-list">
        <label n:name="$gender">{_'Gender'}</label>
        {foreach $gender->items as $key => $label}
            <div class="radio">
                <label n:name="$gender:$key">
                    <input n:name="$gender:$key" /> {$label}
                </label>
            </div>    
        {/foreach}
    </div>
</div>